

* {
  margin: 0;
  padding: 0;

}

:root {
  --primary-color-1: #ffc5bb;
  --primary-color-2: #79c7c0;
  --primary-font-family-1: "Inika" , serif;
  --primary-font-family-2: "Lilita" , serif;
  --primary-font-family-3:'Inria Sans', sans-serif; 
}

.bg-primary-1 {
  background: var(--primary-color-1);
}

.bg-primary-2 {
  background-color: var(--primary-color-2);
}

.text-white {
    color: white
}

.text-blue {
  color:#6EC9C0
}

.text-center {
  text-align: center;
}


/* Flex properties */
.flex {
  display:flex;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}



/* Flex Properties */


/* Spacing Properties*/
.ml-1 {
  margin-left: 0.25rem;
}
.ml-4	{
  margin-left: 1rem;
}
.ml-2	{
  margin-left: 0.5rem;
}

.mr-54px { 
margin-right: 54px;
}

.mr-2	{
  margin-right: 0.5rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 0.5rem;
}


/* Spacing Properties*/

/* Position */
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
/* Position */


/* Heights */
.h-96 {
  height: 24rem;
}

.h-9{
  height: 2.25rem;
}

.h-52 {
  height: 13rem; 
}

.h-fit {
  height: fit-content;
}
/* Heights */

/* Widths*/
.w-full {
  width: 100%;
}

.w-2-6{
  width: 33.3%;
}

.w-52 {
  width: 13rem; 
}
/* Widths*/

/* Custom css */
.promo-info {
  font-family: "Inika", serif;
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.city-custom-select {
 z-index: 10;
}


#city-select {
  border-radius: 0.70rem;
  height: 96%;
  padding-left: 2.5rem;
  appearance: none;
  z-index: 5;
}

#city-select option {
  margin-left: 20px;
}

.icon-map {
  left: 0px;
}

/* Custom css */

/* Custom select */
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: var(--primary-color-1);
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  border-radius: 12px;
}

/* logos positions: */
.cajita-magica-logo-height {
  height: 120px; 
}

.cart-user-icons-positions {
  margin-top: 25px;
  margin-left: 190px;
}

/* search bar styles */
.search-bar-container {
  margin-right: 20px;
  margin-top: 75px;
  width: 290px;
  height: 40px;
  background-color: #fff; /* Fondo blanco */
  border: 2px solid #79c7c0; /* Contorno con color especificado */
  color: #79c7c0; /* Color del texto */
  display: flex;
  align-items: center;
}

/* enter text styles */
.search-input {
  font-family: "Inika", bold;
  font-weight: bold;
  color: #6EC9C0;
  font-size:16px;
  padding: 8px 30px 8px 8px; /* Ajusta el padding para que el texto no se superponga con el botón */
  border: none;
  width: 100%; /* Hace que el campo de entrada de texto ocupe todo el ancho de la barra de navegación */
}

/* placeholder custom text */
.search-input::placeholder {
  color: #79c7c0; /* Cambia el color del texto predeterminado */
  font-weight: bold;
}

/* search btn styles */
.search-button {
  padding: 8px;
  background-color: transparent; /* Fondo transparente */
  border: none;
  cursor: pointer;
}

/* search icon styles */
.material-icons {
  vertical-align: middle;
  color: #6EC9C0; /* Color del ícono de la lupa */
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: var(--primary-color-1);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border-radius: 12px;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Custom nav*/

.fs-2 {
  font-size: 2rem;
}

.text-decoration-none {
  text-decoration: none; /* Eliminar el subrayado predeterminado */
}

.nav-link {
  color: white;
  text-decoration: none;
  margin-left: 1.625rem;
}

.first-nav-link {
  color: white;
  text-decoration: none;
}

/* Custom nav */

/* custom image and btn */

.image-container {
  width: 100%; 
  height: auto; 
  display: flex;
  justify-content: center; /* centrar horizontalmente*/
  align-items: center; /* Centrar verticalmente */
  overflow: hidden; /* Para recortar cualquier parte de la imagen que esté fuera del div */
  object-fit: cover;
  position: relative;
}

.btn {
  position: absolute;
  bottom: 180px;
  left: 192px; /* Ajusta la posición horizontal del botón (centrado) */
  width: 290px; /* Ajusta el ancho del botón */
  height: 55px; /* Ajusta la altura del botón */
  padding: 10px 20px; /* Ajusta el padding del botón según sea necesario */
  background-color: #6EC9C0; /* Color de fondo del botón */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Color del texto del botón */
  font-family:"Inika" , bold ;
  font-size: 30px;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  /* Agrega otros estilos según tus preferencias */
}

/* custom image and btn */

/*featured-products */

.featured-products-container {
    height: 337px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: none;   
}

.title-container {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.font-titles-products { 
  font-size: 2rem;
  font-family: 'Lilita One', sans-serif;
  text-align: center;
}


.image-size {
  width: 280px;
  height: 280px;
}

.image-container-margin {
  margin-right: 54px;
}
  
.image-container-2 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  
} 

.image-description {
  left: 40%;
  background-color: rgba(255, 255, 255, 0.7); /* Fondo semitransparente para la descripción */
  padding: 0%; /* Añade un poco de espacio alrededor de la descripción */
  border-radius: 5px; /* Añade esquinas redondeadas */
}

.font-product {
  font-size: 1.5rem;
  font-family: 'Inria Sans', sans-serif; 
  text-align: center;
  font-weight: bold;
  color: #5B5555;
  }
/*featured-products */

/*product categories */

.products-categories-container {
  height: 308px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: none; 

}

.image-size-2 {
  width: 614px;
  height: 259px;
}


.image-container-3 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
} 


.margin-button-categories {
margin-bottom: auto;
} 
